{% extends "index.html" %}

{%- block title -%}
{{ title_macros::title(page_title=page.title, main_title=config.title) }}
{%- endblock -%}

{% block content %}
    <div class="post">
        <h1 class="post-title">{{ page.title }}</h1>

        {% set section = get_section(path="_index.md") %}

        {{ post_macros::list_posts(pages=section.pages) }}
    </div>
    <h4>About me</h4>
    <p>
        I was born and raised in Fredericksburg VA, right in the middle of Richmond and DC. Growing
        up I was really into football and baseball. I had tournaments every weekend and practice
        almost everynight from the time I was 8 years old until about 17. One of my favorite
        memories was getting to guest play with a team called the Evoshield Seminoles in a tournament
        at VCU in Richmond. I didn't have a really great junior year of high school for baseball with
        back injuries that never went away, so I decided to focus on school my senior year and see what
        schools I could get into.
    </p>
    <p>
        I ended up deciding to go to Virginia Tech for Computer Science. My first 2 years there 
        I was mentally withdrawn due to family issues back home that made it hard to really care
        about school at all. With other things going on it just seemed like school and whatever particular
        career I ended up with wasn't important at all. 
    </p>
    <p>
        This really wasn't one of the greatest points in my life. I felt the most alone I ever had
        and I was just trying to do well enough in school so that I could get through with an alright
        shot of getting a decent job.
    </p>
    <p>
        About this time is when I really got back into the gym. The gym had always been my escape
        and the way I could release my aggression in a healthy way. But previously I was training
        for other sports like baseball, this time I started training just for powerlifting and 
        bodybuilding.
    </p>
    <h4>About this site</h4>
{% endblock content %}
