{% extends "index.html" %}

{%- block title -%}
{{ title_macros::title(page_title=page.title, main_title=config.title) }}
{%- endblock -%}

{% block content %}
    <div class="post">
        <h1 class="post-title">{{ page.title }}</h1>

        {% set section = get_section(path="_index.md") %}

        {{ post_macros::list_posts(pages=section.pages) }}
    </div>
    <h2>Experience</h2>
    <h4>Booz Allen Hamilton - May 2023 -> Current</h4>
    <p>
        This experience so far has been virtually all back-end work. The main project I've been on
        has been a communication system that uses .NET microservices and RabbitMQ to enable
        communication between different hardware components and other services in the system.
    </p>
    <h4>SimVentions &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - May 2022 -> May 2023</h4>
    <p>
        I worked here part-time through my senior year of college. This was my first real full-stack
        experience and I learned a lot of really good things during my time here. Not only technically,
        but how to work in a team. During this time I really became a lot better at speaking on technical
        topics and being more comfortable in professional settings.
    </p>
    <p>
        Before working part-time I interned here over the summer as well. It was a fun experience but nothing
        too crazy to talk about. Typical intern tasking but I did make a pretty cool cross-platform 
        prototype application that was intended to be a kiosk display app for the new Fredericksburg 
        visitor center. Unfortunately, I don't think that contract was ever awarded and the code for the
        app I made is probably long gone.
    </p>
    <hr>
    <h2>Projects</h2>
    <p>See my GitHub, maybe things are documented by this point... yeah right lol </p>
{% endblock content %}
